/**
  * Author: Alonso Vidales <alonso.vidales@tras2.es>
  * Date: 2012-02-13
  */

html, body {
	background: #000000;
}

div#main_canvas {
	width: 640px;
	height: 480px;
}

.hd {
	display: none;
}

/**
  * Penguins styles
  */
.penguin {
	background-image: url('../img/penguins/shooters.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 80px;
	height: 60px;
	z-index: 100;
}

.penguin.looser {
	background-image: url('../img/penguins/looser.png');
}

.penguin.winner {
	background-image: url('../img/penguins/win.png');
}

div.game_background {
	background-image: url('../img/backgrounds/back_one_player.png');
	background-repeat: no-repeat;
}

.shooter {
	background-image: url('../img/shooter/shooter.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 100px;
	height: 100px;
	z-index: 100;
}

.bubble {
	background-image: url('../img/bubbles/bubbles.gif');
	background-repeat: no-repeat;
	position: absolute;
	width: 32px;
	height: 32px;
	z-index: 50;
}

.compressor {
	background-image: url('../img/compressor/compressor_main.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 252px;
	height: 51px;
	z-index: 50;
}

.compressor_extender {
	background-image: url('../img/compressor/compressor_ext.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 188px;
	height: 28px;
	z-index: 50;
}

.font {
	background-repeat: no-repeat;
	position: absolute;
	z-index: 50;
}

.font.char {
	background-image: url('../img/fonts/font.png');
}

.alert {
	background-repeat: no-repeat;
	position: absolute;
	top: 130px;
	z-index: 10000;
}

.alert.loser {
	background-image: url('../img/alerts/loser.png');
	width: 345px;
	height: 124px;
}

.alert.winner {
	background-image: url('../img/alerts/winner.png');
	width: 329px;
	height: 159px;
}

.alert.hurry {
	background-image: url('../img/alerts/hurry.png');
	width: 244px;
	height: 102px;
}
